:root {
    --background-color: #1E1E2E;
    --background-color2: #2b2b42;
    --primary-accent: #FF6E6E;
    --primary-accent2: #ce4d4d;
    --secondary-accent: #A3E635;
    --text-color: #E2E8F0;
    --muted-text-color: #94A3B8;
    --border-color: #313244;
}
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

header{
    font-size: 16px;
}
nav{
    background-color: var(--background-color);
    position: fixed; 
    top: 0;          
    left: 0; 
    width: 100%;
    height: 80px;
    z-index: 1000;
}
#padding{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px
}
.nav-link{
    text-decoration: none;
    color: var(--text-color);
    transition: .2s ease-in-out;
    margin: 10px
}
.nav-link:hover{
    color: var(--primary-accent);
}
.button{
    height: 40px;
    border: none;
    border-radius: 100px;
    background-color: var(--primary-accent);
    color: var(--text-color);
    font-weight: bold;
    font-size: 16px;
}
.button:hover{
    background-color: var(--primary-accent2);
    cursor: pointer;
    transition: .3s ease-in-out;
}
#sign-up{
    width: 109px
}
body{
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: "inter";
    font-size: 16px;
}
#hero-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 600px;
}
#hero-title{
    font-size: 54px;
    color: var(--text-color);
    width: 813px;
}
#hero-title span{
    color: var(--primary-accent)
}
#hero-sub-title{
    width: 437px;
    color: var(--muted-text-color);
    margin-bottom: 1rem;
}
#hero-button{
    width: 130px;

}

.slider-container{
    overflow-x: hidden;
}
.slider {
    display: flex;
    transition: none; /* Disable CSS animations */
    will-change: transform;
  }
.slider img{
    width: 300px;
    height: auto;
    margin: 0px 20px;
}
section{
    height:400px;
    display: flex;
    align-items: center;
    background-color: var(--background-color2);
}
#features{
    height: 800px;
    margin: 10rem 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#features-top{
    display: flex;

}
#features-bottom{
    display: flex;

}
.feature{
    width: 400px;
    margin: 3rem;
}
.feature h3{
    font-size: 32px;
    padding-bottom: 1rem;
}
.feature p{
    font-size: 20px;
}
.faq-container {
    max-width: 600px;
    margin: 5rem auto;
    scroll-margin-top: 50px;
}
.faq-question {
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
.faq-item {
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
}
.faq-answer {
    max-height: 0; /* Initially hidden */
    overflow: hidden; /* Hide content outside max-height */
    transition: max-height 0.3s ease-out; /* Smooth transition */
    padding: 10px 0 0 0;
    margin-bottom: -10px;
}
.faq-answer.visible{
    max-height: 200px;
}
.arrow{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.arrow-symbol{
    margin-right: 20px;
    transition: .3s ease-in-out;
}
#pricing{
    display: flex;
    justify-content: center;
    height: 60rem;
    align-items: center;
    
}

.pricing-section{
    height: 300px;
    width: 310px;
    border: solid var(--muted-text-color) 3px;
    border-radius: 1rem;
    padding: 30px;
    margin: 20px;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s ease-in-out;
}

.pricing-section h3{
    font-weight: 400;
}
.pricing-section h2{
    width: 340px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.pricing-section h2 span{
    font-weight: 400;
    font-size: 20px;
}
.pricing-section p{
    font-size: 18px;
    margin: 10px 0
}
.price-button{
    width: 330px;
    background-color: var(--primary-accent);
    border: none;
    border-radius: 5px;
    height: 2.5rem;
    font-weight: bold;
    font-size: 1rem;
    color: var(--text-color);
    transition: ease-in-out .3s;
    margin-top: 5.4rem;
}
.price-button:hover{
    background-color: var(--primary-accent2);
    cursor: pointer;
}
.included{

}
.excluded{
    color: var(--muted-text-color)
}
footer{
    margin: 15rem 0 0 0;
    height: 300px;
    color: #ffffff;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--background-color2);
}
#group{
    display: flex;
    justify-content: center;
    height: 70%;
    padding-top: 5rem;
}
.column{
    display: flex;
    flex-direction: column;
    margin: 0 5rem;
    padding: 0;
}

.column a{
    color: #ffffff;
    text-decoration: none;
    transition: .3s ease-in-out;
    margin-top: 1rem;
}
.column a:hover{
    color: var(--primary-accent);
}

.column h4{
    font-size: 30px;
    margin: 0;
    padding: 0;
}
#socialMedia{
    margin-top: 3rem;
}
#socialMedia img{
    height: 30px;
    width: 30px;
}
